.code-page {
  color: white;
  display: flex;
  flex-direction: column;
  white-space: wrap;
  height: 100%;
  padding: 20px 0;
  width: 100%;
}

.section {
  white-space: wrap;
  width: 100%;
}

.section h3 {
  margin: 20px;
  padding: 0;
  font-size: 28px;
}

.section p {
  margin: 20px;
  padding: 0;
  font-size: 22px;
}

@media screen and (min-width: 1000px) {
  .code-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
