.code-page {
  color: white;
}

.box {
  float: left;
  width: 30%;
  margin-right: 3.33333%;
  padding: 20px;
  background: #eee;
  box-sizing: border-box;
}
.box1,
.box2 {
  float: left;
  width: 32%;
  margin-right: 2%;
  padding: 20px;
  background: #eee;
  box-sizing: border-box;
}

