.code-page {
  color: white;
}

.main-box {
  background-color: #f5f5f5;
  border: 2px solid #000000;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  width: 90%;
  max-width: 1000px;
}
